.nav_menu {
    height: 100px;
    background-color: #71595d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_menu a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}